* {
  margin: 0;
  padding: 0;
}
.escondido {
  display: none;
}
.configuracion {
  background-color: rgb(27, 27, 29);
  color: rgb(227, 227, 227);
  padding: 8px;
}
.configuracion-logo {
  width: 32px;
}
.configuracion-boton_restaurar {
  color: green;
}
.configuracion-boton_restaurar_confirmacion {
  color: red;
}
.configuracion-opcion {
  display: block;
  margin: 8px 0px;
}
.configuracion-opcion_valor {
  margin: 0px 8px;
}
.configuracion-opcion.-escondida {
  display: none;
}
.configuracion-opcion_vacia_alerta {
  color: #faa;
}
